langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
python-dotenv
langchain-openai
chromadb
sentence_transformers #in this the embedding technique is available
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain-ollama
langchain_groq
fastapi
uvicorn
langserve
pandas 
duckdb
langchain_google_genai
wikipedia
duckduckgo-search
tavily-python
e2b
google-search-results
mysql-connector-python
SQLAlchemy